@{
    //Title for the page
    ViewBag.Title = "Movie List";
}

@model IEnumerable<MovieResponse>

@*list of movies*@
<div>
    <h2>Here are the movies in our list:</h2>
    <br />

    <table>
        @*header*@
        <thead class="text-center">
            <tr class="text-center">
                <th width="10%">Quote</th>
                <th width="10%">Author</th>
                <th width="10%">Date</th>
                <th width="10%">Subject</th>
                <th width="10%">Citation</th>
                <th width="10%"></th><th width="10%"></th>
            </tr>
        </thead>
        <tbody>
            @*for loop that loops through the movie entries as long as the title is not independence day*@
            @foreach (MovieResponse x in Model)
            {
              
                    <tr>

                        <td>@x.Quote</td>
                        <td>@x.Author</td>
                        <td>@x.Date</td>
                        <td>@x.Subject</td>
                        <td>@x.Citation</td>


                        @*edit movie function that sends you to a separate form to update the info*@
                        <td>
                            <form method="post" asp-action="EditMovie">
                                <input type="hidden" name="movieid" value="@x.QuoteID" />
                                <button type="submit">Edit</button>
                            </form>
                        </td>

                        @*delte movie button that deletes the movie out of the database*@
                        <td>
                            <form method="post" asp-action="DeleteMovie">
                                <input type="hidden" name="movieid" value="@x.QuoteID" />
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>

             

            }
        </tbody>
    </table>
</div>